.MuiFormControlLabel-root.checkBoxAtom {
  margin: 0;
  gap: 10px;
}

.checkBoxAtom .MuiButtonBase-root {
  margin: 0;
  padding: 0;
}
.checkBoxAtom .MuiButtonBase-root:not(.Mui-checked) svg {
  fill: transparent;
}
.checkBoxAtom .MuiButtonBase-root svg {
  border: 1px solid #a3abb0;
  background: #ffffff;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  fill: #4992B1;
}
.checkBoxAtom .MuiButtonBase-root svg path {
  transform: translate(-2px, -2px) scale(1.15);
}
.checkBoxAtom .MuiButtonBase-root.Mui-checked svg {
  border: 1px solid #4992B1;
  box-shadow: inset 0px 0px 0px 2px #4992B1;
}
.checkBoxAtom .MuiTypography-root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1d2029;
}
