.SteperOrderTracking_Row {
  width: 100%;
  max-width: 1136px;
  min-width: 408px;
  position: relative;
}

.MuiGrid2-root .SteperOrderTracking_Box {
  width: 100%;
  overflow-x: auto;
  align-items: center;
}

.MuiGrid2-root .StepOrder {
  --size: 140px;
  border: 1px solid #ffffff;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  align-items: center;
  justify-content: center;
}

.SteperOrderTracking_Bar {
  top: 69px;
  width: 100%;
  position: absolute;
  height: 13px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #024f8f;
  border-radius: 30px;
  z-index: -1;
}

.MuiGrid2-root .SteperOrderTracking_Box h3 {
  font-size: 20px;
}
@media screen and (max-width: 1440px) {
  .MuiGrid2-root .SteperOrderTracking_Box h3 {
    font-size: 18px;
  }
  .MuiGrid2-root .StepOrder {
    --size: 120px;
  }
  .SteperOrderTracking_Bar {
    top: 54px;
  }
}
@media screen and (max-width: 1336px) {
  .MuiGrid2-root .StepOrder {
    --size: 90px;
  }
  .MuiGrid2-root .StepOrder svg {
    max-width: 35px;
    max-height: 25px;
  }
  .SteperOrderTracking_Bar {
    top: 38px;
  }
  .MuiGrid2-root .SteperOrderTracking_Box h3 {
    font-size: 16px;
  }
  .MuiGrid2-root .SteperOrderTracking_Box p {
    font-size: 14px;
  }
}
@media screen and (max-width: 760px) {
  .SteperOrderTracking_Row {
    flex-flow: wrap;
  }
  .MuiGrid2-root .StepOrder {
    --size: 80px;
  }
  .MuiGrid2-root .SteperOrderTracking_Bar {
    display: none;
  }
  .MuiGrid2-root .StepOrder_Box {
    min-width: 160px;
  }
}
